{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow, noreferrer" />
{% endblock %}

{% block main %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date de début</th>
                <th>Organizer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.organizer }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_event_new') }}">Create new</a>
    {% endif %}
{% endblock %}
