<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Agenda du numérique à Poitiers et ses environs</title>
        <link>{{ url('app_event_index') }}</link>
        <description>Agenda du numérique à Poitiers et ses environs. Meetups, conférences, ateliers, formations, etc.</description>
        <lastBuildDate>{{ 'now'|date('r', timezone='GMT') }}</lastBuildDate>
        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
        <language>fr</language>
        {% for event in events %}
        <item>
            <title><![CDATA[{{ event.title }}]]></title>
            <link>{{ url('app_event_show_slug', {'slug': event.slug}) }}</link>
            <guid>{{ event.link }}</guid>
            <pubDate>{{ event.startAt|date(format='r', timezone='GMT') }} </pubDate>
            {% if event.image %}<enclosure url="{{ event.image }}" length="0" type="image/png" loading="lazy"/>{% endif %}
            <description><![CDATA[{{ event.description|sanitize_html }}]]></description>
        </item>
        {% endfor %}
    </channel>
</rss>