{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} - {{ parent() }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ event.title }}" />
    {% if event.image -%}
    <meta property="og:image" content="{{ event.image }}" />
    {% endif -%}
    <meta property="og:type" content="event" />
    <meta property="og:url" content="{{ event.link }}" />
    <script type="application/ld+json">{{ encodeJsonLd(event)|raw }}</script>
{% endblock %}

{% block main %}
    <article>
        {% if event.image %}
        <twig:Image src="{{ event.image }}" alt="" loading="lazy" format="webp"/>
        {% endif %}
        <h1>{{ event.title }}</h1>
        {# <iframe sandbox seamless srcdoc="<html />"></iframe> #}
        <div>{{ event.description|sanitize_html }}</div>

        <hr>

        {% if event.startAt %}
        <p>
            <twig:ux:icon name="bi:clock" height="28" width="28" aria-label="date de débu" />
            : <time datetime="{{ event.startAt|date('r', timezone='GMT') }}" >{{ event.startAt|format_datetime('medium', 'short', locale='fr') }}</time>
        </p>
        {% endif %}
        {% if event.location %}
        <address>
            <twig:ux:icon name="bi:pin-map" height="28" width="28" aria-label="location" />
            {# <a href="geo:{{ event.location.latitude }},{{ event.location.longitude }}">{{ event.location }}</a> #}
            : {{ event.location }}
        </address>
        {% endif %}
        <p>
            <twig:ux:icon name="bi:person" height="28" width="28" aria-label="organizer" />
            : {{ event.organizer }}
        </p>
        <p>
            <twig:ux:icon name="bi:link-45deg" height="28" width="28" aria-label="permalien"/>
            : <a href="{{ event.link }}">{{ event.link }}</a>
        </p>
    </article>
 
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_event_index') }}">retour à la liste</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">éditer</a>    

    {{ include('event/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
