{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} - {{ parent() }}{% endblock %}

{% block meta %}
    <script type="application/ld+json">{{ encodeJsonLd(event)|raw }}</script>
{% endblock %}

{% block main %}
    <article>
        <img src="{{ event.image }}" alt="" loading="lazy"/>
        <h1>{{ event.title }}</h1>
        <p>{{ event.description|sanitize_html }}</p>

        <hr>

        {% if event.startAt %}
        <p>
            <twig:ux:icon name="bi:clock" height="28" width="28" aria-label="date de débu" />
            : <time datetime="{{ event.startAt|date('r', timezone='GMT') }}" >{{ event.startAt|format_datetime('medium', 'short', locale='fr') }}</time>
        </p>
        {% endif %}
        <p>
            <twig:ux:icon name="bi:person" height="28" width="28" aria-label="organizer" />
            : {{ event.organizer }}
        </p>
        <p>
            <twig:ux:icon name="bi:link-45deg" height="28" width="28" aria-label="permalien"/>
            : <a href="{{ event.link }}">{{ event.link }}</a>
        </p>
    </article>
{# 
    <table class="table">
        <tbody>
            <tr>
                <th>Start_at</th>
                <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_at</th>
                <td>{{ event.endAt ? event.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Organizer</th>
                <td>{{ event.organizer }}</td>
            </tr>
        </tbody>
    </table>
 #}

    <a href="{{ path('app_event_index') }}">retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_event_edit', {'id': event.id}) }}">éditer</a>    
    {% endif %}

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
