{% extends 'base.html.twig' %}

{% block main %}

    <div class="grid">
        {% for event in events %}
        <article>
            <a href="{{ path('app_event_show_slug', {'slug': event.slug}) }}">
                {% if event.image %}
                <twig:Image src="{{ event.image }}" format="webp" width="200" height="100" alt="" loading="lazy"/>
                {% endif %}
                <h2>{{ event.title }}</h2>
            </a>
            <hr>
            {% if event.start_at %}
            <p>
                <twig:ux:icon name="bi:clock" height="28" width="28" aria-label="date de débu" /> 
                : <time datetime="{{ event.start_at|date() }}" >{{ event.start_at|format_datetime('medium', 'short') }}</time>
            </p>
            {% endif %}
            <p><twig:ux:icon name="bi:person" height="28" width="28" aria-label="organizer" /> : {{ event.organizer }}</p>
        </article>
        {% endfor %}
    </div>

{% endblock %}
