{% extends 'base.html.twig' %}

{% block main %}

    <div class="grid">
        {% for event in events %}
        <article>
            <a href="{{ path('app_event_show_slug', {'slug': event.slug}) }}">
                {% if event.image %}
                <div class="text-center">
                    <twig:Image src="{{ event.image }}" format="webp" width="200" height="100" alt="" loading="lazy"/>
                </div>
                {% endif %}
                <h2>{{ event.title }}</h2>
            </a>
            <footer>
                {% if event.startAt %}
                <p>
                    <twig:ux:icon name="bi:clock" height="28" width="28" aria-label="date de débu" /> 
                    : <time datetime="{{ event.startAt|date('Y-m-d\\Th:i:s') }}" >{{ event.startAt|format_datetime('medium', 'short') }}</time>
                </p>
                {% endif %}
                <p><twig:ux:icon name="bi:person" height="28" width="28" aria-label="organizer" /> : {{ event.organizer }}</p>
            </footer>
        </article>
        {% endfor %}
    </div>

{% endblock %}
